<%= render 'shared/page_title', title: "User #{@user.username}'s Profile" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 80 %>
  </div>
</div>

<h4 align="center"><%= @user.username %>'s posts</h4>
<%= render 'posts/post', obj: @user.posts %>