<div class="container">
  <div class="center jumbotron p-4 p-md-5 text-white rounded bg-dark">
  </div>
  <div class="raw center profile">
    <%=  render 'shared/page_title', title: "Love to Cook" %>
  </div>

  <div class="container">
   <div class="row">
      <div class="col-md-6">
        <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i>  Blog</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <button type="button" class="btn btn-secondary btn-lg"><%= link_to "Enter", posts_path %></button>
      </div>
      <div class="col-md-6">
        <h3><i class="fa fa-twitter" aria-hidden="true"></i>  Tweets</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <button type="button" class="btn btn-secondary btn-lg"><%= link_to "Enter", food_news_path %></button>
      </div>

    </div>
  </div>
</div>