
<div class="center jumbotron">
  <h1>FoodieS</h1>

  <h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, odio eveniet autem soluta magni hic. Quod adipisci culpa, beatae vel repellendus, fugit perspiciatis, impedit sunt porro fuga deleniti atque tenetur.</p>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>