<div class="container-fluid">
  <div class="center jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <h2>Betwixt & Cuisine</h2>
    <%= link_to "Sign up or Log in", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
       <div class="card" >
        <!--<img class="card-img-top" alt="Card image cap"/>-->
      
        <div class="card-body">
           <h3 class="mb-0">Blog Posts</h3>
           <hr>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <hr>
          <button type="button" class="btn btn-outline-success">View Posts &raquo;</button>
        </div>
      </div>
    </div>
      
      <div class="col-sm-6">
        <div class="border rounded">
           <div class="col p-4 ">
              <h3 class="mb-0">Tweets</h3>
              <hr>
             <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
              </div>
              
               <button type="button" class="btn btn-outline-success">View Posts &raquo;</button>
            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>