<div class="col-md-4 col-md-offset-4 center profile">
  <%=  render 'shared/page_title', title: "All Posts" %>
</div>
<div class="row"></div>

<div align="right">
  <%= will_paginate @posts %>
</div>
<%= render 'post', obj: @posts %>
<div align="right">
  <%= will_paginate @posts %>
</div>

