/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

.navbar {
  background-color: black;
  color: white;
}

.btn-primary {
  background-color: black;
}

.top {
  padding-bottom: 20px;
}

textarea {
  resize: vertical;
}

.change {
  color: black !important; 
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
  padding-left: 10px;
  padding-right: 10px;

}

.home {
  color: white;
}

.description {
  margin-top: 0;
}

.well a{
  color: black;
}

.user_info {
  margin-top: 10px;
}

#logo {
  padding-top: 15px;
  float: left;
  color: #fff;

}

.btn-xlarge, .btn-md {
  background-color: black;
}

.colormatch a{
  color: black;
}

.post-actions {
  padding-top: 5px;
  a {
  color:white;
  background-color: black;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.user-title {
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.profile {
  margin-top: 30px;
}

.jumbotron {
  margin-top: 10px;
  background-image: asset-url('food.jpg');
  background-size: cover;
  height: 300px;
  
}

.btn-lg {
  background-color: black;
}



.yum {
  color: white;
}
.tweet {
  background-color:black;
  margin: 20px;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
} 

.card-text a {
  color: black;
}

.user {
  background-color: white;
}

.user-title a {
  color: black;
}

h4 a{
  color: black;
}

.list {
  background-color: black;
  color: black;
}

.user-card {
 
}