<footer class="footer">
  <small>
    The best <a href="https://www.railstutorial.org/">Food Blog</a>
    by <a href="">Camelia </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>